

a.user-profile {
    white-space: nowrap;
}

.inside {
    display: inline-block;
}

.info-number .badge {
    font-size: 10px;
    font-weight: normal;
    line-height: 13px;
    padding: 2px 6px;
    position: absolute;
    right: 2px;
    top: 8px;
}

.bg-green {
    background: #1ABB9C !important;
    border: 1px solid #1ABB9C !important;
    color: #fff;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.navbar-nav .open .dropdown-menu {
    position: absolute;
    background: #fff;
    margin-top: 0;
    border: 1px solid #D9DEE4;
    -webkit-box-shadow: none;
    right: 0;
    left: auto;
    width: 220px;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.navbar-right .dropdown-menu {
    right: 0;
    left: auto;
}
.open > .dropdown-menu {
    display: block;
}
.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}
.dropdown-menu {
    border: medium none;
    box-shadow: none;
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 9998;
    border: 1px solid #D9DEE4;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.pull-right {
    float: right !important;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.profile-pic {
    width: 32px;
    border-width: 3px;
    padding: 2px;
}


.right_col {
    padding: 20px 20px 0;
    margin-left: 30px;
    margin-bottom: 10px;
}

.tile_count {
    margin-bottom: 20px;
    margin-top: 60px;
}

.tile_count .tile_stats_count {
    padding: 0 10px 0 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.tile_stats_count {
    font-size: 18px;
}

.count {
    font-size: 22px;
    font-weight: bold;
}

.body {
    margin: 0 auto;
    width: 100%;
}

.bottom-column
{
  float: none;
  display: table-cell;
  vertical-align: bottom;
}

.panel {
    margin-top: -30px;
}

#right_nav {
    padding-top: 3px;
    padding-right: 30px;
}

#title-text {
    color: #337ab7;
    padding-top: 8px;
    padding-left: 30px;
    text-align: left;
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#chart-dropdown-btn {
  width: 8em !important;
}

#chart {
    display: block;
}
