<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    </head>
<body class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template" style="padding: 80px 15px;text-align: center;">
                    <h1>
                        Oops!</h1>
                    <h2>Your account is currently being processed</h2>
                    <div class="error-details">
                        Please, contact support for further assistance.
                    </div>
                    <a href="/" style="margin-top: 30px" class="btn btn-large btn-info">
                        <i class="icon-home icon-white"></i> Homepage
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>
